.App{
  text-align: center; 
  background-color:rgb(209, 226, 240);
  position: relative;
  height:fit-content;
  height:100vh;
}
.clarusway{
  width:35px;
  margin:2rem 0 1rem;
  border-radius:0;
  border:none;
  box-shadow:none;
  cursor:auto;
  position: relative;
}
.big-back{
  height:200px;
  width:100vw;
  background-color:rgb(255, 193, 77);
  position:absolute;
}
.small-back{
  height:70px;
  width:500px;
  background-color:rgb(209, 226, 240);
  position:absolute;
}
.container{
  margin:auto;
  background-color:whitesmoke;
  width:500px;
  min-height: 300px;
  position: relative;
  box-shadow: 3px 5px 5px rgb(192, 192, 192);
}
.profil{
  margin-top: 1rem;
  width:70px;
  border-radius: 50%;
  border:3px solid white;
  box-shadow: 5px 5px 5px 5px rgb(209, 207, 207);
  margin-left:1rem;
  cursor:auto;
}
h2{
  margin-top: -1rem;
}
img{
  cursor: pointer;
  width: 30px;
  border-radius: 50%;
  border:3px solid white;
  box-shadow: 5px 5px 5px 5px rgb(209, 207, 207);
  position:relative;
}
.picture-button{
  display:flex;
  justify-content: space-evenly;
  
}
button{
  color:white;
  padding: .4rem 1.5rem;
  background-color: purple;
  border-radius: 5px;
  transition: color .4s ease-in-out;
}
button:hover{
  cursor: pointer;
  background-color:rgb(235, 160, 0);
  color:black;
  transition: color, background-color .4s ease-in-out;
}
.flex-button{
  display:flex;
  justify-content: space-around;
  margin: 2rem;
}
.footer{
  border:1px solid purple;
  margin:2rem 5rem;
  border-radius: 2px;
  color: grey;
}
.fdesign{
  color:rgb(198, 110, 198);
  font-weight: 600;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fname{
  font-family:fantasy;
}
.footer-image{
  width:17px;
  margin: 0 5px -2px;
  border-radius:0;
  border:none;
  box-shadow:none;
  cursor:auto;
}
.table-head{
  width: 500px;
  background-color:rgb(235, 160, 0);
}